// Flutter-facing portions of the Runner.

#include "Runner.rc"

// Resources
//
#if defined(FLUTTER_VERSION_MAJOR) && defined(FLUTTER_VERSION_MINOR)
#include "version.rc"
#else
#define VERSION_AS_STRING "1.0.0.0"
#endif

#if !defined(APPLICATION_NAME)
#define APPLICATION_NAME "WhisperPush"
#endif

STRINGTABLE
BEGIN
    IDS_APP_TITLE APPLICATION_NAME
END

#ifdef FLUTTER_BUILD_NUMBER
#define VERSION_AS_STRING FLUTTER_BUILD_NUMBER "." FLUTTER_VERSION_MAJOR "." FLUTTER_VERSION_MINOR
#else
#define VERSION_AS_STRING "1.0.0.0"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_AS_STRING
PRODUCTVERSION VERSION_AS_STRING
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "WhisperPush" "\0"
            VALUE "FileDescription", "WhisperPush" "\0"
            VALUE "FileVersion", VERSION_AS_STRING "\0"
            VALUE "InternalName", "WhisperPush" "\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 WhisperPush. All rights reserved." "\0"
            VALUE "OriginalFilename", "WhisperPush.exe" "\0"
            VALUE "ProductName", "WhisperPush" "\0"
            VALUE "ProductVersion", VERSION_AS_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

#endif    // English (United States) resources
